{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "sed -i 's/^version = \\\".*\\\"/version = \"${nextRelease.version}\"/' Cargo.toml && git add Cargo.toml",
        "publishCmd": "cargo publish --token $CARGO_TOKEN"
      }
    ],
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}
